<h1>Форма пользователя</h1>

<form method="POST" action="/form">
  <input name="name" placeholder="Имя">
  <input name="age" placeholder="Возраст">
  <button type="submit">Отправить</button>
</form>